@import '@/styles/variables';
@import '@/styles/mixins';

.container {
  display: flex;
  align-items: center;
  gap: 16px;

  @media (min-width: $tablet) {
    gap: 18px;
  }

  div {
    @include ingredientPicto;
  }
}